header{
    background: #bbbbbb;
    padding: 20px 0;

}
.box{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

nav a:active {
    color: #088c19;
}

body {
    background-color: #ffffff;
}

#banner {
    width: 100%;
   
}

.principal {
    background-color: #CCCCCC;
    padding: 30px;

}

.tituloprincipal {
    padding-left: 20px;
}

.titulocentro{
    width: 100%;
    text-align: center;
      
}

p {
    text-align: center;
}

#p1 {
    font-size: 20px; 
}

em strong {
    color: #ff0000;
}

.itens {
    font-style: italic;
    background-color: #ffffff;

}
.beneficios {
    background-color: #ffffff;
    padding: 20px;
}


.imagembeneficios {
    width: 50%;
 }

 ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
 }

 footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0;}